extends layout

block content
	.container
		.header
			.content
				h1
					| 绿色村镇体系数据录入系统

		.main#indexlist
			ul
				li
					a(href='/input/index/xiangzhen',target="_blank")
						| 乡镇
				li
					a(href='/input/index/zhenquhuocunzhuang',target="_blank")
						| 镇区或村庄
				li
					a(href='/input/index/zhuhu',target="_blank")
						| 住户