extends layout

block content
	.container
		.header
			.content
				h1
					| 绿色村镇体系数据录入系统

		.main#indexlist
			ul
				a(href='/input/index/xiangzhen')
					li
					
						| 乡镇
				a(href='/input/index/zhenquhuocunzhuang')
					li
					
						| 镇区或村庄
				a(href='/input/index/zhuhu')
					li
					
						| 住户