extends layout

block content
	-var a = "modelname = " + "'" + modelname + "'"
	script!= a
	
	.container
		.header
			.content
				h1
					| 绿色村镇体系数据录入系统
				h3
					| 镇区 或 村庄
		
		#addform
			.icono-plus
		#backindex
			h1
				a(href='/')
					| 返回

		.main#formlist
			.contentlist
				.container
					.id
						p
							| ID
					.title
						p
							| 镇名称
					.title
						p
							| 镇区或乡村名称
					.title
						p
							| 镇区/村庄
					.exchange
						P 
							| 操作
	script(src="/script/jquery.min.js")
	script(src="/script/index.js")
